// Footer

.page-footer {
    background-color: @lighter-black;

    .footer.content {
        border: none;
    }

    .footer-links-container {
        display: flex;
        justify-content: space-around;
        margin-top: 69px;

        .footer-links {
            height: 200px;
            width: 160px;
            margin-bottom: 30px;

            h3 {
                color: @white;
                font-family: "chakraPetch";
                margin: 0 0 20px 0;
                font-size: 16px;
                font-weight: 600;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    &:hover {
                        font-size: 1.6rem;
                    }
                    a {
                        cursor: pointer;
                        color: @white;
                        text-decoration: none;
                        font-family: "Montserrat", sans-serif;
                        font-weight: 100;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &:last-child {
                width: 200px;
            }
        }
    }

    .form.subscribe {
        margin-top: 70px;
        .field.newsletter {
            .control {
                &:before {
                    content: "";
                }
                input {
                    background: @lighter-black;
                    color: @white;
                    padding: 0 0 0 0.7rem;
                    width: 365px;
                    height: 40px;
                    border: 1px solid @white;
                    margin: 0;
                    font-family: "Montserrat";
                    font-weight: bold;

                    &::placeholder {
                        color: #ffffff;
                        font-family: "Montserrat";
                        font-weight: 100;
                    }
                }
            }
        }

        .actions {
            .action.subscribe {
                color: @lighter-black;
                // border: 1px solid @grey-border;
                border: 0;
                background-color: @white;
                width: 142px;
                height: 40px;

                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}

// Media queries

@media screen and (max-width: 1160px) {
    .page-footer {
        .form.subscribe {
            .field.newsletter {
                .control input {
                    width: 340px;
                }
            }
        }
    }
}

@media screen and (max-width: 1105px) {
    .page-footer {
        .form.subscribe {
            .field.newsletter {
                .control input {
                    width: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .page-footer {
        .form.subscribe {
            .field.newsletter {
                .control input {
                    width: 190px;
                }
            }
        }
    }
}

@media screen and (max-width: 957px) {
    .page-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer.content {
            form.subscribe {
                .field.newsletter {
                    .control input {
                        width: 300px;
                    }
                }
            }
            .block.newsletter {
                max-width: 100%;
            }
        }

        .footer-links-container {
            margin-bottom: 50px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .page-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer.content {
            .block.newsletter {
                max-width: 100%;
            }
        }

        .footer-links-container {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 552px) {
    .page-footer {
        .footer.content {
            form.subscribe {
                .field.newsletter {
                    .control input {
                        width: 170px;
                    }
                }
            }
            .block.newsletter {
                max-width: 100%;
            }
        }
        .footer-links-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-bottom: 50px;

            .footer-links {
                height: 200px;
                max-width: 100%;
                text-align: center;
                margin-top: 1rem;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .page-footer {
        .form.subscribe {
            .field.newsletter {
                .control {
                    input {
                        width: 100%;
                    }
                }
            }

            .actions {
                .action.subscribe {
                    color: #0f0f0f;
                    border: 1px solid #707070;
                    background-color: #ffffff;
                    width: 100px;
                    height: 40px;
                }
            }
        }

        .footer-links-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 0;
            margin-bottom: 50px;

            .footer-links {
                height: 200px;
                max-width: 100%;
                text-align: center;
                margin-top: 1rem;
            }
        }
    }
}
