// Modal

.modals-wrapper {
    .modal-popup.confirm {
        .modal-inner-wrap {
            .modal-footer {
                button {
                    background: @black;
                    border: none;

                    span {
                        color: @white;
                    }
                }
            }
        }
    }
}

// Muini-cart
.minicart-wrapper.active {
    .block-minicart {
        .block-content {
            .actions {
                .primary {
                    button {
                        background: @black;
                        border: none;
                    }
                }
                .secondary {
                    a {
                        span {
                            color: @black;
                        }
                    }
                }
            }

            .minicart-items-wrapper {
                .minicart-items {
                    li {
                        .product {
                            .product-item-details {
                                .product-item-name {
                                    a {
                                        color: @black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Header

.page-header {
    color: @grey;
    background: @white;

    .header.content {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .logo {
            margin: 0;
        }

        .minicart-wrapper {
            .action.showcart {
                .counter.qty {
                    background: @black;
                }
            }
        }
    }

    .panel.wrapper {
        background: @cream-white;
        color: @grey;

        .panel.header {
            .header.links {
                .greet.welcome {
                    .not-logged-in {
                        display: none;
                    }
                    .logged-in {
                        display: block;
                    }
                }

                li a {
                    color: @grey;
                }

                .switcher-language {
                    .switcher-trigger {
                        span {
                            font-size: 14px;
                        }

                        &::after {
                            margin-left: 10px;
                        }
                    }
                    .switcher-dropdown {
                        li {
                            a {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
.sections.nav-sections {
    background: @white;
    margin: 0;

    .section-item-content {
        .section-item-content {
            .header.links {
                display: none;
            }
        }
    }
    .navigation {
        background: @white;

        .level0.active .level-top {
            border-color: @black;
        }
        .level0.has-active > .level-top {
            border-color: @black;
        }
        .level0 .submenu .active > a {
            border-color: @black;
        }

        ul {
            display: inline-block;
            margin-left: 10px;

            li {
                margin-left: 20px;

                display: inline-block;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    color: @black;
                    font-family: "Montserrat";
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;
                    text-decoration: none;
                }
                ul {
                    li {
                        margin: 0;
                        display: block;
                    }
                }
            }

            li a span {
                color: @black;
                font-family: "Montserrat";
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 500;
            }
            div {
                display: inline-block;
                a {
                    color: @black;
                    font-family: "Montserrat";
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 500;
                    cursor: pointer;
                    text-decoration: none;
                    margin: 20px;
                }
                &:last-child {
                    .suporte-login-links__login {
                        margin-left: 132px;
                        font-weight: bold;

                        a {
                            color: @black;
                            font-family: "Montserrat";
                            text-transform: uppercase;
                            font-size: 18px;
                            font-weight: 500;
                            cursor: pointer;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                        &:last-child {
                            // margin-left: 132px;
                            color: @black;
                            font-family: "Montserrat" sans-serif;
                            text-transform: uppercase;
                            font-size: 18px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1086px) {
    .sections.nav-sections {
        .navigation {
            ul {
                li {
                    margin: 0 0 0 10px;
                }
                div {
                    a {
                        margin: 0 0 0 20px;
                    }
                    &:last-child {
                        .suporte-login-links__login {
                            margin-left: 90px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 995px) {
    .sections.nav-sections {
        .navigation {
            ul {
                margin-left: 0;
                li {
                    margin: 0 0 0 5px;
                    a {
                        span {
                            font-size: 18px;
                        }
                    }
                }
                div {
                    a {
                        margin: 0 0 0 5;
                        font-size: 18px;
                    }
                    &:last-child {
                        .suporte-login-links__login {
                            margin-left: 75px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .sections.nav-sections {
        .navigation {
            ul {
                li {
                    margin: 0 0 0 5px;
                    a {
                        span {
                            font-size: 16px;
                        }
                    }
                }
                div {
                    a {
                        margin: 0 0 0 5;
                        font-size: 16px;
                    }
                    &:last-child {
                        .suporte-login-links__login {
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 815px) {
    .page-header {
        .header.content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .logo {
                margin: auto;
            }

            .minicart-wrapper {
                position: absolute;
                right: 0;
                top: 74%;
                right: 15px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .page-header {
        .header.content {
            position: relative;

            .minicart-wrapper {
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
            }
        }
    }

    .sections.nav-sections {
        .navigation {
            ul {
                width: 100%;
                li {
                    display: block;
                    margin: 0;
                }

                div {
                    a {
                        margin: 0;
                    }
                    &:last-child {
                        .suporte-login-links__login {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
