.page-wrapper {
    .page-main {
        .column.main {
            .login-container {
                .block-content {
                    .form.form-login {
                        .fieldset.login {
                            .primary {
                                .action.login.primary {
                                    background: @black;
                                    border: none;
                                }
                            }
                            .secondary {
                                .action.remind {
                                    color: @black;
                                }
                            }
                        }
                    }
                }
                .block.block-new-customer {
                    .block-content {
                        .primary {
                            .action.create.primary {
                                background: @black;
                                border: none;
                            }
                        }
                    }
                }
            }
            .form.create.account.form-create-account {
                .primary {
                    .action.submit.primary {
                        background: @black;
                        border: none;
                    }
                }
            }
        }
    }
}

.modals-wrapper {
    .modal-popup.popup-authentication {
        .modal-inner-wrap {
            .modal-content {
                .block-authentication {
                    .block-content {
                        .primary {
                            .action.action-register.primary {
                                background: @black;
                                border: none;
                            }
                        }
                    }

                    .block-content {
                        .form.form-login {
                            .actions-toolbar {
                                .primary {
                                    .action.action-login.secondary {
                                        background: @black;
                                        border: none;
                                        color: @white;
                                    }
                                }
                            }
                            .actions-toolbar {
                                .secondary {
                                    .action {
                                        span {
                                            color: @black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
