//Category path

.page-wrapper {
    .breadcrumbs {
        .items {
            li {
                a {
                    color: @black;
                }
            }
        }
    }
}

// product button
.page-wrapper {
    .page-main {
        .page-title-wrapper {
            .action.print {
                color: @black;
            }
        }
        .columns {
            .column.main {
                .product-info-main {
                    .bundle-actions {
                        button {
                            background-color: @black;
                            border: none;
                        }
                    }
                    .product-reviews-summary.empty {
                        .reviews-actions {
                            .action.add {
                                font-family: "Montserrat";
                                font-weight: 300;
                                color: @black;
                            }
                        }
                    }
                    .page-title-wrapper.product {
                        .page-title {
                            span {
                                font-family: "Montserrat";
                                font-weight: 500;
                            }
                        }
                    }
                    .product-add-form {
                        form {
                            .box-tocart {
                                .fieldset {
                                    .actions {
                                        button {
                                            background-color: @black;
                                            border: none;
                                        }
                                    }
                                }
                                .fieldset {
                                    .field.qty {
                                        .control {
                                            input:focus {
                                                border: 1px solid #fafafa;
                                                -webkit-box-shadow: 0 0 6px
                                                    @black;
                                                -moz-box-shadow: 0 0 5px @black;
                                                box-shadow: 0 0 5px @black;
                                                outline: none;
                                            }
                                        }
                                    }
                                }
                            }
                            .product-options-wrapper {
                                .field.configurable.required {
                                    .control {
                                        select:focus {
                                            border: 1px solid #fafafa;
                                            -webkit-box-shadow: 0 0 6px @black;
                                            -moz-box-shadow: 0 0 5px @black;
                                            box-shadow: 0 0 5px @black;
                                            outline: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .product-add-form {
                    #product_addtocart_form {
                        .product-options-bottom {
                            .fieldset {
                                .actions {
                                    button {
                                        background-color: @black;
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .products.wrapper.grid.products-grid {
                    .products.list.items.product-items {
                        .item.product.product-item {
                            .product-item-info {
                                .product.details.product-item-details {
                                    .product-item-inner {
                                        .product.actions.product-item-actions {
                                            .actions-primary {
                                                form {
                                                    button {
                                                        background: @black;
                                                        border: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                // Checkout page
                .cart-container {
                    .checkout-methods-items {
                        .item {
                            .action.primary {
                                background: @black;
                                border: none;
                            }
                            .action.multicheckout {
                                color: @black;
                            }
                        }
                    }
                    .cart.main.actions {
                        .action.update {
                            background: @black;
                            border: none;
                            color: @white;
                        }
                    }
                    .cart-discount {
                        .content {
                            #discount-coupon-form {
                                .primary {
                                    .action.apply.primary {
                                        background: @black;
                                        border: none;
                                    }
                                }
                            }
                        }
                        .title {
                            strong {
                                color: @black;
                            }
                        }
                    }
                    .cart-summary {
                        .block.shipping.active {
                            #co-shipping-method-form {
                                .fieldset.rate {
                                    .field.choice.item {
                                        input {
                                            accent-color: @black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .form.form-cart {
                        .cart.table-wrapper {
                            .cart.item {
                                .actions-toolbar {
                                    .use-ajax.action.towishlist.action-towishlist {
                                        span {
                                            color: @black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .checkout-container {
                    .authentication-wrapper {
                        .action-auth-toggle {
                            span {
                                color: @black;
                            }
                        }
                    }
                    .opc-wrapper {
                        .opc {
                            .checkout-shipping-method {
                                .checkout-shipping-method {
                                    .step-content {
                                        .form.methods-shipping {
                                            #checkout-shipping-method-load {
                                                .table-checkout-shipping-method {
                                                    tbody {
                                                        .row {
                                                            .col.col-method {
                                                                .radio {
                                                                    accent-color: @black;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .checkout-payment-method {
                                .step-content {
                                    .form.payments {
                                        .fieldset {
                                            #checkout-payment-method-load {
                                                .items.payment-methods {
                                                    .payment-group {
                                                        .payment-method._active {
                                                            .radio {
                                                                accent-color: @black;
                                                            }
                                                            .payment-method-content {
                                                                .payment-method-billing-address {
                                                                    .checkout-billing-address {
                                                                        #billing-address-same-as-shipping-banktransfer {
                                                                            accent-color: @black;
                                                                        }
                                                                        #billing-address-same-as-shipping-checkmo {
                                                                            accent-color: @black;
                                                                        }

                                                                        .billing-address-details {
                                                                            a {
                                                                                color: @black;
                                                                            }
                                                                        }

                                                                        .fieldset {
                                                                            .actions-toolbar {
                                                                                .primary {
                                                                                    .action.action-update {
                                                                                        color: @white;
                                                                                        background: @black;
                                                                                        border: 0;
                                                                                    }
                                                                                    .action.action-cancel {
                                                                                        span {
                                                                                            color: @black;
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                            .billing-address-form {
                                                                                .fieldset.address {
                                                                                    .choice.field {
                                                                                        .checkbox {
                                                                                            accent-color: @black;
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .checkout-shipping-address {
                                .step-content {
                                    .field.addresses {
                                        .shipping-address-item.selected-item {
                                            a {
                                                color: @black;
                                            }
                                            border-color: @black;

                                            &::after {
                                                background: @black;
                                            }
                                        }
                                    }
                                    .new-address-popup {
                                        .action.action-show-popup {
                                            background: @black;
                                            border: none;
                                            color: @white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .checkout-success {
                    .primary {
                        .action.primary.continue {
                            background: @black;
                            border: none;
                        }
                    }
                }

                #registration {
                    &:nth-child(4) {
                        .action.primary {
                            background: @black;
                            border: none;
                        }
                    }
                }

                .data.table.table-comparison {
                    .cell.product.info {
                        .product-item-actions.hidden-print {
                            .actions-primary {
                                form {
                                    .action.tocart.primary {
                                        background: @black;
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                }

                .bundle-options-container {
                    form {
                        .block-bundle-summary {
                            .content {
                                .bundle-info {
                                    .product-details {
                                        .box-tocart {
                                            .action.primary.tocart {
                                                background: @black;
                                                border: none;
                                            }
                                            .input-text.qty:focus {
                                                border: 1px solid #fafafa;
                                                -webkit-box-shadow: 0 0 6px
                                                    @black;
                                                -moz-box-shadow: 0 0 5px @black;
                                                box-shadow: 0 0 5px @black;
                                                outline: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .product-add-form {
                        form {
                            .bundle-options-wrapper {
                                .action.back.customization {
                                    span {
                                        color: @black;
                                    }
                                }
                            }
                        }
                    }
                }
                .checkout-container {
                    .opc-progress-bar {
                        .opc-progress-bar-item._active {
                            &::before {
                                background: @black;
                                border-color: @black;
                            }

                            span {
                                &::before {
                                    background: @black;
                                    border-color: @black;
                                }
                            }
                            span::after {
                                border-color: @black;
                            }
                        }
                        .opc-progress-bar-item._complete {
                            span {
                                color: @black;
                            }
                        }
                    }
                    .modal-custom.opc-sidebar.opc-summary-wrapper {
                        .modal-inner-wrap {
                            .modal-content {
                                .shipping-information {
                                    .ship-to {
                                        a {
                                            color: @black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .product.info.detailed {
                    .product.data.items {
                        .data.item.content {
                            .block.review-add {
                                .block-content {
                                    form {
                                        .primary.actions-primary {
                                            button {
                                                background: @black;
                                                border-color: @black;
                                                color: @white;
                                            }
                                        }
                                        div {
                                            input:focus,
                                            textarea:focus {
                                                border: 1px solid #fafafa;
                                                -webkit-box-shadow: 0 0 6px
                                                    @black;
                                                -moz-box-shadow: 0 0 5px @black;
                                                box-shadow: 0 0 5px @black;
                                                outline: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .product-add-form {
                    .fieldset {
                        .field.downloads.required {
                            .field.choice {
                                .label {
                                    .sample.link {
                                        color: @black;
                                    }
                                }
                                input {
                                    accent-color: @black;
                                }
                            }
                        }
                        .field.downloads.required {
                            .control {
                                .field.choice.downloads-all {
                                    .label {
                                        span {
                                            color: @black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .form-wishlist-items {
                    .actions-toolbar {
                        .primary {
                            button {
                                background: @black;
                                border-color: @black;
                                color: @white;
                                border: 0;
                            }
                        }
                    }
                    .products-grid.wishlist {
                        .product-items {
                            .product-item-info {
                                .product-item-inner {
                                    .box-tocart {
                                        .fieldset {
                                            .actions-primary {
                                                button {
                                                    background: @black;
                                                    border-color: @black;
                                                    color: @white;
                                                    border: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .block.block-dashboard-info {
                    .block-content {
                        .box.box-information {
                            .box-actions {
                                a {
                                    color: @black;
                                    span {
                                        color: @black;
                                    }
                                }
                            }
                        }
                        .box.box-newsletter {
                            .box-actions {
                                a {
                                    span {
                                        color: @black;
                                    }
                                }
                            }
                        }
                    }
                }
                .block.block-dashboard-addresses {
                    .block-title {
                        a {
                            span {
                                color: @black;
                            }
                        }
                    }
                    .block-content {
                        .box.box-billing-address {
                            .box-actions {
                                a {
                                    span {
                                        color: @black;
                                    }
                                }
                            }
                        }
                        .box.box-shipping-address {
                            .box-actions {
                                a {
                                    span {
                                        color: @black;
                                    }
                                }
                            }
                        }
                    }
                }
                .checkout-success {
                    .order-number {
                        strong {
                            color: @black;
                        }
                    }
                }
            }
            //wishlist
            .sidebar.sidebar-additional {
                .block.block-wishlist {
                    .block-content {
                        .product-items {
                            .product-item-info {
                                .product-item-details {
                                    .product-item-actions {
                                        .actions-primary {
                                            .action.tocart.primary {
                                                background: @black;
                                                border-color: @black;
                                                color: @white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .actions-toolbar {
                            .primary {
                                a {
                                    span {
                                        color: @black;
                                    }
                                }
                            }
                        }
                    }
                }
                .block.block-compare {
                    .block-content {
                        .actions-toolbar {
                            .primary {
                                a {
                                    background: @black;
                                    border-color: @black;
                                    color: @white;
                                    border: 0;
                                }
                            }
                            .secondary {
                                a {
                                    span {
                                        color: @black;
                                    }
                                }
                            }
                        }
                    }
                }

                .block.block-reorder {
                    .form.reorder {
                        .actions-toolbar {
                            .primary {
                                .action.tocart.primary {
                                    background: @black;
                                    border-color: @black;
                                    color: @white;
                                    border: 0;
                                }
                            }
                            .secondary {
                                .action.view {
                                    color: @black;
                                }
                            }
                        }
                    }
                    .block-content {
                        .form.reorder {
                            .product-items.product-items-names {
                                .field.item.choice {
                                    .control {
                                        input {
                                            accent-color: @black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .sidebar.sidebar-main {
                .content.block-collapsible-nav-content {
                    .nav.items {
                        .nav.item.current {
                            strong {
                                border-color: @black;
                            }
                        }
                    }
                }
            }
        }
        .page.messages {
            div {
                .messages {
                    .message-success.success.message {
                        div {
                            a {
                                color: @black;
                            }
                        }
                    }
                }
            }
        }
    }
}
.checkout-shipping-method {
    .actions-toolbar {
        .primary {
            .button.action {
                background: @black;
                border: none;
            }
        }
    }
    .payment-option-title {
        .action-toggle {
            color: @black;
        }
    }
}

.checkout-payment-method {
    .payment-option-content {
        .form-discount {
            .actions-toolbar {
                .primary {
                    .action.action-apply {
                        background: @black;
                        border: none;
                        color: @white;
                    }
                }
            }
        }
    }
    .payment-method-content {
        .actions-toolbar {
            .primary {
                .action.primary {
                    background: @black;
                    border: none;
                }
            }
        }
    }

    .payment-option-title {
        .action-toggle {
            color: @black;
        }
    }
}
