//Slider

.page-wrapper {
    .page-main {
        .columns {
            .column.main {
                .slider {
                    margin-top: 60px;
                    .block.widget.block-products-list.grid {
                        // text-align: center;
                    }
                }
            }
        }
    }
}
